:root {
  --panel-background-color: #101010;
  --panel-active-background-color: #803232;
  --panel-inactive-background-color: #328032;
  --border-color: #404040;
  --text-color: #f0f0f0;
  --button-border-color: #606060;
  --button-background-color: #303030;
  --button-background-active-color: #383838;
  --button-text-color: #f0f0f0;
  --card-background-color: #282828;
  --disabled-background-color: #606060;
  --disabled-text-color: #707070;
  --inputfield-background-color: #202020;
  --inputfield-danger-background-color: #803232;
  --indicator-inactive-color: #22cc22;
  --indicator-active-color: #cc2222;
  --label-active-color: #a91d1d;
}
